# Dependencies
node_modules/

# Build outputs
build/

# Editor/OS files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# WordPress assets
index.asset.php
*.asset.php
